/.classpath
/.depcache
/.project
/.cproject
/.settings
/hs_err_pid*.log
/last_junit_suite.log
/*.sublime-project
/*.sublime-workspace
/.tags
/.DS_Store
.DS_Store
.cache/
.pydevproject
*.pyc
*.swp
*~
*runapp*.py
*.log
/build.local
buildstring.txt
host*+0000.txt
license.xml
voltdb_crash*
bundles/
obj/
groovyout/
debugoutput/
statement-plans/
catalog-report.html
voltdbroot/
log/
voltipc.xcodeproj/
tests/scripts/plannertester/reports/
tests/test_apps/*/*.jar
doc/tutorials/*/*.jar
doc/tutorials/auction/csvloader_*.csv
src/frontend/org/voltdb/compiler/projectfile/
src/frontend/org/voltdb/compiler/deploymentfile/
doc/tutorials/*/*.jar
/src/ee/.cproject
/src/ee/.project
/src/ee/.settings/
/src/catgen/out
/src/ee/catalog/*
/src/ee/tags
/src/ee/org_voltdb_jni_ExecutionEngine.h
/src/ee/org_voltcore_utils_DBBPool.h
/src/frontend/org/voltdb/catalog/*.java
/voltdb/libvoltdb*.so
/voltdb/libvoltdb*.dylib
/voltdb/libcatalog*.so
/voltdb/libcatalog*.dylib
/voltdb/voltdb*.jar
/examples/*/*.jar
/plannerlog.txt
/README.voltadmin
/testobjects/
/tests/ee/.cproject
/tests/ee/.project
/tests/ee/.settings/
/tools/voltify.venv
/src/ee/org_voltdb_utils_PosixAdvise.h
/src/frontend/org/voltcore/utils/DBBPool.java
/src/frontend/org/voltcore/utils/.flagfile
/tests/sqlcmd/scripts/**/*.outdiffs
out
bundles
*.lcbak
.gradle/*
build.gradle
/src/frontend/org/voltdb/.gradle/*
/build/lib/voltdb.war
/tests/geb/vmc/.nb-gradle/
tools/meshmonitor/build/
tools/meshmonitor/dist/
tools/ee/ee_auto_generated_unit_tests

# IntelliJ excluded files.
.idea/workspace.xml
.idea/tasks.xml
.idea/modules.xml
.idea/*
/doc/doc.iml
/examples/HOWTOs/HOWTOs.iml
/examples/adperformance/adperformance.iml
/examples/bank-offers/bank-offers.iml
/examples/callcenter/callcenter.iml
/examples/examples.iml
/examples/fraud-detection/fraud-detection.iml
/examples/geospatial/geospatial.iml
/examples/json-sessions/json-sessions.iml
/examples/metrocard/metrocard.iml
/examples/nbbo/nbbo.iml
/examples/positionkeeper/positionkeeper.iml
/examples/simple/client/client.iml
/examples/simple/procedures/procedures.iml
/examples/uniquedevices/uniquedevices.iml
/examples/voltkv/voltkv.iml
/examples/voter/voter.iml
/examples/windowing-with-ddl/windowing-with-ddl.iml
/examples/windowing/windowing.iml
/grfusion_newvoltdb1.iml
/src/catgen/in/in.iml
/src/grfusion_newvoltdb.iml
/tests/bench/bench.iml
/tests/bench/throughput/throughput.iml
/tests/geb/vmc/src/vmc.iml
/tests/geb/vmc/vmc1.iml
/tests/sqlcmd/sqlcmd.iml
/tests/sqlgrammar/sqlgrammar.iml
/tests/test_apps/adhocbenchmark/adhocbenchmark.iml
/tests/test_apps/adhocddl/adhocddl.iml
/tests/test_apps/adhocsmash/adhocsmash.iml
/tests/test_apps/aggbench/aggbench.iml
/tests/test_apps/aggregates/aggregates.iml
/tests/test_apps/approx-count-distinct/approx-count-distinct.iml
/tests/test_apps/csvbenchmark/csvbenchmark.iml
/tests/test_apps/ctindex/ctindex.iml
/tests/test_apps/dedupe/dedupe.iml
/tests/test_apps/deletes/deletes.iml
/tests/test_apps/eng1969/eng1969.iml
/tests/test_apps/eng585/eng585.iml
/tests/test_apps/eng866/eng866.iml
/tests/test_apps/exportbenchmark/exportbenchmark.iml
/tests/test_apps/genqa/genqa.iml
/tests/test_apps/insertdelete/insertdelete.iml
/tests/test_apps/kvbenchmark/kvbenchmark.iml
/tests/test_apps/live-rejoin-consistency/live-rejoin-consistency.iml
/tests/test_apps/log4jsocketimporter/log4jsocketimporter.iml
/tests/test_apps/matviewbenchmark/matviewbenchmark.iml
/tests/test_apps/measure-overhead/measure-overhead.iml
/tests/test_apps/nptxn-perf-benchmark/nptxn-perf-benchmark.iml
/tests/test_apps/oneshotkv/oneshotkv.iml
/tests/test_apps/osm-import/osm-import.iml
/tests/test_apps/overhead/overhead.iml
/tests/test_apps/polygonBenchmark/polygonBenchmark.iml
/tests/test_apps/scans/scans.iml
/tests/test_apps/schemachange/schemachange.iml
/tests/test_apps/test_apps.iml
/tests/test_apps/tpcc/tpcc.iml
/tests/test_apps/txnid-selfcheck/txnid-selfcheck.iml
/tests/test_apps/txnid-selfcheck2/txnid-selfcheck2.iml
/tests/test_apps/uacbench/uacbench.iml
/tests/test_apps/udfbenchmark/udfbenchmark.iml
/tests/test_apps/voltkvqa/voltkvqa.iml
/tests/test_apps/voter-selfcheck/voter-selfcheck.iml
/tests/test_apps/voter-tracing-benchmark/voter-tracing-benchmark.iml
/tests/test_apps/ycsb-zipfian/ycsb-zipfian.iml
/tests/test_apps/ycsb/ycsb.iml
/tests/tests.iml
/third_party/third_party.iml
/tools/tools.iml
